.dark-mode-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    color: #26282B;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 9999;
    transition: background-color 1s ease, color 1s ease;

    &:hover {
        background-color: #5f5c5c !important;
        color: #fff;
    }

    &.dark-mode {
        background-color: #26282B;
        color: #fff;
    }
}