:global {
    body {
        margin: 0;
        font-family: 'Trebuchet MS', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: background-color 1s ease, color 1s ease;

        &.dark-mode {
            background-color: #353941;
            color: #e3e3e38a;
        }
    }

}

link[rel="icon"] {
    max-width: 100px;
    max-height: 100px;
}

@keyframes clickAnimationLeft {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes clickAnimationRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

a {
    text-decoration: none;
}

/* Links não visitados */
a:link {
    color: #3f3a3a;
    /* Cor para links não visitados */
}

/* Links visitados */
a:visited {
    color: #888788;
    /* Cor para links visitados */
    text-decoration: line-through;
}

/* Links quando o mouse está sobre eles */
a:hover {
    color: #201f1e;
    /* Cor ao passar o mouse sobre o link */
}

/* Links quando estão ativos (clicados) */
a:active {
    color: #cc0000;
    /* Cor quando o link está ativo (clicado) */
}

h1 {
    text-align: center;
}