header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #353941;
    color: #e3e3e3;
    padding: 20px 0;
    text-align: center;

    &.dark-mode {
        background-color: #e3e3e3;
        color: #353941;
    }

    img {
        height: 100px;
    }
}