:global {
    body {
        margin: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        transition: background-color 1s ease, color 1s ease;

        &.dark-mode {
            background-color: #353941;
            color: #e3e3e38a;

            .video-popup {
                background-color: #26282B;
                box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
            }
        }
    }

    header {
        background-color: #353941;
        color: #e3e3e3;
        padding: 20px 0;
        text-align: center;

        &.dark-mode {
            background-color: #e3e3e3;
            color: #353941;
        }
    }
}

link[rel="icon"] {
    max-width: 100px;
    max-height: 100px;
}

@keyframes clickAnimationLeft {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes clickAnimationRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}