/* watchContent.module.scss */

.watchContentContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* Proporção 16:9 para vídeos responsivos */
    overflow: hidden;
  }
  
  .videoPlayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  